{% extends '@SyliusShop/shared/layout/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/app/shop/app-shop-entry.css') }}">
{% endblock %}

{% block content %}
    <div class="brand-index">
        {# Alphabet Navigation #}
        <div class="alphabet-nav">
            {% for letter in 'A'..'Z' %}
                <a href="#{{ letter }}" class="alphabet-link {% if groupedBrands[letter] is defined %}has-brands{% endif %}">
                    {{ letter }}
                </a>
            {% endfor %}
            <a href="#hash" class="alphabet-link {% if groupedBrands['hash'] is defined %}has-brands{% endif %}">#</a>
        </div>

        {# Brand Groups #}
        <div class="brand-groups">
            {# Initialize grouped brands #}
            {% set groupedBrands = {} %}
            {% for brand in brands %}
                {% set firstChar = brand.name|slice(0, 1)|upper %}
                {% set groupKey = firstChar matches '/^[A-Z]/' ? firstChar : 'hash' %}
                
                {% if not groupedBrands[groupKey] is defined %}
                    {% set groupedBrands = groupedBrands|merge({ (groupKey): [] }) %}
                {% endif %}
                
                {% set groupedBrands = groupedBrands|merge({
                    (groupKey): groupedBrands[groupKey]|merge([brand])
                }) %}
            {% endfor %}

            {# Display groups #}
            {% for groupKey in groupedBrands|keys|sort %}
                <div class="brand-group" id="{{ groupKey }}">
                    <h2 class="group-title">{{ groupKey != 'hash' ? groupKey : '#' }}</h2>
                    <div class="brand-list">
                        {% for brand in groupedBrands[groupKey]|sort((a, b) => a.name|lower <=> b.name|lower) %}
                            <a href="{{ path('app_shop_product_brand', {'brandSlug': brand.slug, 'slug': 'category'}) }}" class="brand-item">
                                <span class="brand-name">{{ brand.name }}</span>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}